.sidebar-container {
  position: fixed;
  display: none;
}

/* Tablet*/
@media (max-width: 768px) {
  .sidebar-container {
    width: 90%;
    transition: 0.3s ease;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-color: #45717e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .sidebar-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 85vh;
    flex-wrap: wrap;
    background-color: white;
    padding: 0 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .sidebarList {
    margin-top: 70px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Lato", sans-serif;
  }
  .mainItem-container {
    color: #2b2b2b;
    display: flex;
    font-family: "Lato", sans-serif;
  }
  .itemLabel {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  .sideBarMenu {
    color: #2b2b2b;
    font-size: 25px;
    margin-left: 18px;
    margin-top: 20px;
  }
  .sidebar-wrapper h3 {
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
  }
  .closeBTN {
    position: absolute;
    cursor: pointer;
    font-size: 40px;
    right: 0;
    margin-right: 80px;
    margin-top: 30px;
  }
  .sidebarItem-container {
    margin-right: 50px;
  }
  .hide-sidebar-container {
    transition: 0.3s ease-out;
    transform: scale(0);
  }
}
/* mobile*/
@media (max-width: 500px) {
  .sidebar-container {
    height: 90%;
  }

  .itemLabel {
    font-size: 15px;
  }
  .sidebar-wrapper h3 {
    font-size: 20px;
  }
  .sideBarMenu {
    color: #2b2b2b;
    font-size: 18px;
  }
}

@media (max-width: 400px) and (min-width: 320px) {
  .sidebar-container {
    height: 90%;
    width: 100%;
  }

  .itemLabel {
    font-size: 15px;
    margin-top: 3px;
  }
  .sidebar-wrapper h3 {
    font-size: 20px;
  }
  .sideBarMenu {
    color: #2b2b2b;
    font-size: 18px;
  }
  .mainItem-container {
    flex-direction: column;
  }
  .sidebarList {
    flex-direction: row;
  }
}
